DJANGO_SECRET_KEY=change-this-to-a-random-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,10.177.143.228

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

FAST2SMS_API_KEY=
SENDGRID_API_KEY=
EMAIL_FROM=safeguard@example.com
FCM_SERVER_KEY=
GOOGLE_MAPS_API_KEY=
