DJANGO_SECRET_KEY=change-this-to-a-random-secret-key
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost,10.177.143.228

FAST2SMS_API_KEY=

# Email (Gmail SMTP — recommended)
EMAIL_HOST_USER=your_email@gmail.com
EMAIL_HOST_PASSWORD=your_16_char_app_password

# SendGrid fallback
SENDGRID_API_KEY=

FCM_SERVER_KEY=
GOOGLE_MAPS_API_KEY=
